html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header{
  position: absolute;
  padding: 15px;
  height: 60px;
}
#container{
  width: 100%;
  height: calc(100% - 60px);
  margin: 0;
  padding: 0;
  padding-top: 60px;
}
.line {
  width: 100%px;
  height: 50%;
  margin: 0;
  padding: 0;
}
#container1 {
  float: left;
  height: 100%;
  widtH: 60%;
}
#container2 {
  float: right;
  height: 100%;
  widtH: 40%;
}
#container3 {
  height: 50%;
}
